<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <tr >
    <th>Name</th>
    <th>Giá</th>
    <th>Ảnh</th>
    <th>Description</th>
  </tr>
  <tr th:each="p:${products}">
    <td th:text="${p.name}"></td>
    <td th:text="${p.price}"></td>
    <td>
      <img th:src="${p.image}" width="50px" height="50px" alt="">
    </td>
    <td th:text="${p.description}"></td>
  </tr>
</table>
<br>
<div>
  <a th:if="${products.hasPrevious()}" th:href="@{/product/page(page = ${products.number - 1})}">Previous</a>
  <span th:text="${products.number +1 }"></span>/<span th:text="${products.totalPages}"></span>
  <a th:if="${products.hasNext()}" th:href="@{/product/page(page = ${products.number + 1})}">Next</a>
</div>
</body>
</html>