<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a th:href="@{/}">Back to list</a>
<form method="post" th:object="${blog}" th:action="@{/delete}">
  <fieldset>
    <legend>information</legend>
    <div><input type="hidden" th:field="*{id}"></div>
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" th:field="*{name}"/>
    </div>
    <div>
      <label for="author">author</label>
      <input type="text" id="author" th:field="*{author}"/>
    </div>
    <input type="submit" value="delete"/>
  </fieldset>
</form>
</body>
</html>