<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<p th:insert="/layout::header"></p>
<br/>
<div>
    <form th:action="@{/}" method="get">
        <input type="text" name="search" placeholder="enter name to search" th:value="${searchValue}">
        <button type="submit">Search</button>
    </form>
</div>
<div style="text-align: center">
    <a th:href="@{/create}" type="button" class="btn btn-outline-success">Create Blog</a> --
    <a th:href="@{/category}" type="button" class="btn btn-outline-success">Category</a> --
    <a th:href="@{/(sortBy='b_date', sortDirection='ASC', search=${searchValue})}" class="btn btn-outline-success">Sort by date ASC</a>
    <a th:href="@{/(sortBy='b_date', sortDirection='DESC', search=${searchValue})}" class="btn btn-outline-success">Sort by date DESC</a>
</div>
<br/>
<table class="table table-striped table-hover">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Date</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Details</th>
    </tr>
    <tr th:each="blog,loop:${blog}">
        <td th:text="${loop.count}"></td>
        <td th:text="${blog.getName()}"></td>
        <td th:text="${blog.getbDate()}"></td>
        <td th:text="${blog.getCategory().getName()}"></td>
        <td><a th:href="@{/{id}/edit(id=${blog.getId()})}" type="button"
               class="btn btn-outline-primary">Edit</a></td>
        <td><a th:href="@{/{id}/delete(id=${blog.getId()})}" type="button"
               class="btn btn-outline-danger">Delete</a></td>
        <td><a th:href="@{/{id}/details(id=${blog.getId()})}" type="button"
               class="btn btn-outline-secondary">Details</a></td>
    </tr>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item" th:if="${blog.hasPrevious()}"><a class="page-link" th:href="@{/(page=${blog.number - 1})}">Previous</a></li>
        <div th:each="item : ${#numbers.sequence(1, blog.totalPages)}">
            <li class="page-item active" th:if="${blog.number + 1 == item}">
                <a class="page-link" th:href="@{/(page=${item - 1})}" th:text="${item}">1</a>
            </li>
            <li class="page-item" th:if="${blog.number + 1 != item}">
                <a class="page-link" th:href="@{/(page=${item - 1})}" th:text="${item}">1</a>
            </li>
        </div>

        <li class="page-item" th:if="${blog.hasNext()}"><a class="page-link" th:href="@{/(page=${blog.number + 1})}">Next</a></li>
    </ul>
</nav>
</body>
<footer th:insert="/layout::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</html>