body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.display{
  display: flex;
}

.img{
  margin-top: -20px;
  height: 200px;
  width: 100%;
}

.color-picture{
background: #ebe4e4;
height: 150px;
  width: 100px;
}

.center{
  margin-top: 85px;
}

.active--link.active {
  color: red;
}

.active--link{
  color: black ;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ebe4e4;
  color: black;
  text-align: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  margin-right: 50%;
  display: inline-flex;
  gap: 5px;
  animation: l2-0 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  width: 35px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px inset black;
  animation: l2-1 1s infinite rgb(0, 0, 0)ar both;
}
.loader:after {
  animation-direction:reverse;
}
@keyframes l2-0{
  0% {transform:rotate(0deg)}
  80%,
  100%{transform:rotate(180deg)}
}
@keyframes l2-1{
  0%,
  20%  {border-radius:0}
  80%,
  100% {border-radius:50%}
}

.display-body{
  display: flex;
}

/* .sidebar{
  background-color: #ddd5de;
  width: 100%;
  height: 100%;
} */
.button-sidebar{
height: 188px;
width: 100%;
border: none;
background-color: #ebe4e4;
border-bottom: solid 1px black;
}
.div-sidebar{
height: 500px;
}

.table{
  margin-top: 150px;
}

/* .form-center{
  margin-top: 170px;
  text-align: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: -20px;
}

.div-shadow{
height: 570px;
position: relative;
top: -100px;
}

.form {
  margin-top: 20px;
}

.input{
  width: 50%;
  border: none;
  border-bottom: solid 1px black;
}
 */
 .form-center{
  margin-top: 4px;
  border-radius: 30px;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 25px;
  height: 50%;
}
 

 .form {
  margin-top: 20px;
}

 .label {
  font-weight: bold;
  padding: 3px;
}

.input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: solid 1px black;
  margin-bottom: 10px;
}

.btn {
  margin-right: 200px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.button{
  text-align: center;
  padding: 10px 20px;
}

.value-select{
  text-align: center;
}

.error-message{
  color: red;
}

.title{
  text-align: center;
  margin-top: 40px;
}
.search{
  margin-top: 20px;
  margin-right: 20px;
}
.table{
  margin-top: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}


.search-button{
  border: none;
  background-color: none;
  color: black;
  border-radius: 15px;

}

.search-input{
  border: none;
  border-bottom: solid 1px black;
}
.select-input{
  margin: 10px;
}