<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<a th:href="@{/}">Back to list</a>
<form method="post" th:object="${products}" th:action="@{/delete}">
    <fieldset>
        <legend>information</legend>
        <div><input type="hidden" th:field="*{id}"></div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="price">price</label>
            <input type="text" id="price" th:field="*{price}"/>
        </div>
        <div>
            <label for="describe">describe</label>
            <input type="text" id="describe" th:field="*{describe}"/>
        </div>
        <div>
            <label for="producer">producer</label>
            <input type="text" id="producer" th:field="*{producer}"/>
        </div>
        <input type="submit" value="delete"/>
    </fieldset>
</form>
</body>
</html>