<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
</head>
<body>
<a th:href="@{/}" type="button" class="btn btn-outline-secondary"
   data-mdb-ripple-init data-mdb-ripple-color="dark">Danh sach quoc gia</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Quoc gia</th>
    </tr>
    </thead>
    <tbody class="table-group-divider table-divider-color">
    <tr th:each="qg,loop:${countries}">
        <td th:text="${loop.count}"></td>
        <td th:text="${qg.getName()}"></td>
    </tr>
    </tbody>
</table>
</body>
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</html>