<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/}">Back to list</a>
<form th:action="@{/delete}" th:object="${students}" method="post">
    <fieldset>
        <legend>Information product</legend>
        <input type="hidden" th:field="*{id}">
        name : <input type="text" name="name" th:field="*{name}">
        <br/>
        price : <input type="text" name="price" th:field="*{gender}">
        <br/>
        Describe : <input type="text" name="describe" th:field="*{age}" >
        <br/>
        Producer : <input type="text" name="producer" th:field="*{address}">
        <br/>
        <input type="submit" value="delete">
    </fieldset>
</form>
</body>
</html>