<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!--NAVBAR-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin:20px 10px 50px">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Sắp xếp
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sắp xếp kiểu 1</a></li>
                        <li><a class="dropdown-item" href="#">Sắp xếp kiểu 2</a></li>
                    </ul>
                </li>
            </ul>
            <form th:action="@{/book/traSach}" class="d-flex" role="search">
                <input name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Tra Sach</button>
            </form>
            <div th:if="${error}">
                <span th:text="${error}"></span>
            </div>
        </div>
    </div>
</nav>
<h1 style="margin-left: 38%">Nha Cho Muon Sach</h1>
<div class="container">
    <div class="row" style="margin-bottom: 20px">
        <table class="table table-hover table-responsive">
            <thead class="thead-inverse">
            <tr>
                <th>STT</th>
                <th>Tên Sach</th>
                <th>Tac Gia</th>
                <th>So Luong Sach</th>
                <th colspan="3" style="text-align: center">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="books,count: ${book}">
                <td th:text="${count.count}"></td>
                <td th:text="${books.getName()}"></td>
                <td th:text="${books.getAuthor()}"></td>
                <td th:text="${books.getSoLuongSach()}"></td>
                <!--                <td th:text="${blog.getAddress()}"></td>-->
                <td style="text-align: center">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a th:href="@{/book/detail/{id}(id=${books.getId()})}" type="button" role="button"
                           class="btn btn-success">Chi tiết</a>
                        <a th:href="@{/book/edit/{id}(id=${books.getId()})}" type="button" class="btn btn-warning">Cập
                            nhật</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" style="text-align: center">
        <div>
            <a>Previous</a>
            <span>1</span> / <span>5</span>
            <a>Next</a>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/delete}" >
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete blog:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete <span id="nameEdit"></span>?
                    <input type="hidden" id="idEdit" name="idEdit" value="idEdit">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script>
    function deleteCustomer(button) {
        var id = button.getAttribute('data-customer-id');
        var name = button.getAttribute('data-customer-name');
        document.getElementById("idEdit").value = id;
        document.getElementById("nameEdit").innerText = name;
    }
</script>
</body>
</html>